<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form">
        <div>
            <h4>Product Title</h4>
            <input type="text" id="title">
            <h4>Product Price</h4>
            <input type="number" id="price">
            <h4>Description</h4>
            <input type="text" id="description">
            <h4>Image URL</h4>
            <input type="url" id="imageUrl">
            <input type="hidden" id="id">
            <button type="submit">add Product</button>
            
        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./public/js/addProduct.js"></script>
</body>
</html>