<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    <link rel="stylesheet" href="./public/css/signup.css">
</head>
<body>
    <header><h1>Chatzapp</h1>
    </header>
    <div class="form">
        <form id="form">
            <div class="input">
            <h3>Email</h3>
            <input type="text" id="email">
            <h3>Password</h3>
            <input type="text" id="password">
            <button type="submit">Login</button>
        </div>
        </form>
        <div class="signup">
            <P>new user</P>
        <a href="./signup.html">
            <button >Sign Up</button>
        </a>
        <a href="./forgotPassword.html">
        <button id="forgotButton">Forgot Password</button>
        </a>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./public/js/login.js"></script>
</body>
</html>
