<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    <link rel="stylesheet" href="./public/css/signup.css">
</head>
<body>
    <header>
    </header>
    <div class="form">
        <form id="passwordForm">

            <div class="input"> 
            <h5>Enterpassword</h5>
            <input type="text" id="password" placeholder="password">
            
            <button type="submit">Reset</button>
         
        </div>
        </form>
        <div class="signup">
        <a href="../views/login.html">
            <button>Cancel</button>
        </a>
        </div>
    </div>
    <br>
        
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./public/js/changePassword.js"></script>
</body>
</html>