<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    <link rel="stylesheet" href="./public/css/signup.css">
</head>
<body>
   <header> <h1>Chatzapp</h1></header>
  
    <div class="form">
        <form id="form">

            <div class="input">
                <h3>Name</h3>
                <input type="text" id="name">  
            <h3>Email</h3>
            <input type="text" id="email">
            <h3>Mobile Number</h3>
                <input type="text" id="number">
            <h3>Password</h3>
            <input type="text" id="password">
            <button type="submit">Sign up</button>
        </div>
        </form>
        <div class="signup">
            <P>existing user</P>
        <a href="./login.html">
            <button>login</button>
        </a>
        </div>
    </div>
    
        
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./public/js/signup.js"></script>
</body>
</html>
